<div class="slide-panel-wrapper" [ngClass]="sphService.getVisibilityStyle()" todoClickedOutside (clickedOutside)="sphService.closeSlidePanel()">
  <div class="slide-panel-content">
    <div class="slide-panel-header">
      <div class="header-close-section">
        <button class="btn-close" (click)="sphService.closeSlidePanel()"><img class="img-close"></button>
      </div>
      <div class="header-text-section">
        <p class="records-date">{{ sphService.data.date | date:'fullDate' }}</p>
        <p class="records-counter">({{ sphService.data.records.length | todosCounter:'slideRecords' }})</p>
      </div>
    </div>
    <hr>
    <div class="slide-panel-records">
      <div class="slide-panel-btns">
        <button class="btn-add-record">Add Record</button>
      </div>
      <div class="slide-panel-records">
        <slide-panel-record *ngFor="let record of sphService.data.records" [data]="record"></slide-panel-record>
      </div>
    </div>
  </div>
</div>