@use 'src/app/styles/style-variables.scss' as sv;

.record-wrapper {
    margin-bottom: 10px;
    padding: 5px;
    border: sv.$border;
    color: sv.$secondary-color;

    .record-content {
        display: flex;
        flex-flow: row nowrap;

        input[type="text"] {
            flex: auto;
            font-size: 18px;
            border: none;
            background-color: sv.$basic-color;
            color: sv.$secondary-color;
            padding: 5px 10px;
            margin-right: 5px;
        }

        input[type="text"]:disabled {
            background-color: transparent;
        }

        button {
            padding: 0 10px;
            background-color: transparent;
            border: none;
            border-left: sv.$border;

            &.save-btn { }

            &.delete-btn { }

            img {
                width: 26px;
                height: 26px;
                margin-top: auto;
                margin-bottom: auto;
                cursor: pointer;
        
                &.img-save {
                    content: url('~src/assets/g_checked_32.png');
                }
                &.img-save:hover {
                    transform: scale(1.1);
                }
        
                &.img-delete {
                    content: url('~src/assets/r_delete_32.png');
                }
                &.img-delete:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}