.todos-wrapper {
    height: 99%;
    width: 100%;
    padding-top: 5px;
    display: flex;
    flex-flow: row wrap;

    .left-side-wrapper {
        flex: 3;
        display: flex;
        flex-flow: column wrap;

        .pager-wrapper {
            flex: 0 1 auto;
            text-align: center;
            color: #16a395;
            padding: 20px;
        }

        .calendar-wrapper {
            flex: 1 1 auto;
        }
    }
}