.pager-wrapper {
    display: inline-flex;

    p {
        color: #16a395;
        font-size: 30px;
    }
        
    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-top: 5px;

        &.btn-left {
            margin-right: 10px;
        }

        &.btn-right {
            margin-left: 10px;
        }

        img {
            width: 24px;
            height: 24px;

            &.img-left {
                content: url('~src/assets/t_arrowL_24.png');
            }
            &.img-left:hover {
                content: url('~src/assets/t_arrowL_24_h.png');
            }

            &.img-right {
                content: url('~src/assets/t_arrowR_24.png');
            }
            &.img-right:hover {
                content: url('~src/assets/t_arrowR_24_h.png');
            }
        }
    }
}